<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Esra YILDIZ -CV- </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    @*<link href="css/styles.css" rel="stylesheet" />*@
<link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Esra YILDIZ</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/assets/img/1667853762497.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Action("Index","Home")">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Egitim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Yetenekler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Sertifikalar</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">

                <br />
                <h2 class="mb-0">

                    <span class="text-primary"> Esra YILDIZ</span>

                </h2>
                <br />
                <div class="subheading mb-5">
                    0(534) 720 86 68·
                    <a href="mailto:name@email.com">esrayildiizz@outlook.com</a>
                </div>
                <p class="lead mb-5">
                    Düzce Üniversitesi Matematik bölümünden mezun oldum. Şuan da Anadolu Üniversitesi Web Tasarımı ve Kodlama bölümüne devam etmekteyim. Teknik bilgi ve becerilerimi ortaya koyup faydalı olabileceğim, problem çözme yeteneklerimi kullanabileceğim bir pozisyonda başarılı işler yapmak istiyorum. C#, MSSQL, .NET Core konularında geliştirdiğim projelerim mevcuttur ve teknik bilgi sahibiyim.
                    Fenerbahçe Üniversitesi bünyesinde Nitelikli Bilişim Uzmanı Yetiştirme Programı altında "Web ve Mobil Programlama" eğitimi aldım.
                    Kaynak kodlarına Github hesabımdan ulaşabilirsiniz..
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/esrayldz/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/esrayildiizz"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Deneyim</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Stajyer</h3>
                        <div class="subheading mb-3">Beyaz Kalem Ögrenme Atölyesi</div>
                        <p>
                            Matematik ögretmeni olarak okul
                            stajimi tamamladim.
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Mayıs 2021- Haziran 2021</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Ögretmen</h3>
                        <div class="subheading mb-3">Beyaz Kalem Ögrenme Atölyesi</div>
                        <p>
                            Tam zamanlı lise ve ortaokul
                            matematik öğretmeni olarak görev aldım.
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Eylül 2021- Mart 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Ögretmen</h3>
                        <div class="subheading mb-3">Özel Ders</div>
                        <p>
                            Serbest olarak çevremdeki farklı sınıf düzeyindeki
                            öğrencilere bire bir özel ders verildi.
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary"> Temmuz 2021- Şubat 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Kursiyer</h3>
                        <div class="subheading mb-3">Nitelikli Bilişim Uzmanı Yetiştirme Programı</div>
                        <p>
                            Nitelikli Bilişim Uzmanı Yetiştirme Programı:
                            (Fenerbahçe Üniversitesi)
                            İŞKUR destekli eğitim alıyorum ve uygulamalı bir eğitim süreci geçirmekteyim. Devam ediyorum.

                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary"> Eylül 2022- Ocak 2023</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Egitim</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">ŞEHİT ÜSTEĞMEN İBRAHİM ABANOZ ANADOLU LİSESİ</h3>
                        <div class="subheading mb-3">Sayısal Bölüm</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2012-2016</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">DÜZCE ÜNİVERSİTESİ</h3>
                        <div class="subheading mb-3">Fen Edebiyat Fakültesi - Matematik</div>
                        <p>Not Ortalamasi: 3.01</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2017-2021</span></div>
                </div>
                <br />
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">ANADOLU ÜNİVERSİTESİ</h3>
                        <div class="subheading mb-3">AçıkÖğretim Fakültesi - Web Tasarımı Ve Kodlama</div>
                        
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2022-</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Yetenekler</h2>
                <div class="subheading mb-3">
                    @*Programlama Dilleri Ve Araçları*@
                </div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    
                    @*<li class="list-inline-item"><i class="fab fa-less"></i></li>
                    <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                    <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>*@
                </ul>
                <div class="subheading mb-3">YETKİNLİKLER</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Programlama Dilleri:
                        C programlama ,C#
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Veri Tabanı Teknolojileri:
                        MS SQL Server
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Teknolojiler ve Uygulama Çatılarıİ:
                        Html, Css, Github, Git, Linq, EntityFramework,ADO.NET,Asp.Net
                        MVC,Windows Forms, Asp.Net MVC, Asp.Net Core MVC, Web API.
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Konseptler ve Kalıplar:
                        SOLİD Principles, , Object Oriented Programming,Design Patterns
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Araçlar
                        Visual Studio, Visual Studio Code, SQL Management Studio, Github, Excel
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Yabancı Dil:
                        İngilizce
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h3 class="mb-5">Sertifikalar</h3>
                <ul class="fa-envira mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        BTK Akademi
                        Uygulamalarla SQL Öğreniyorum.
                    </li>
                </ul>
                <br />
                <br />
                <h3 class="mb-5">Referanslar</h3>
                <ul class="fa-envira mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Erol BEYAZYÜZ -Beyaz Kalem Öğrenme Atölyesi
                        Kurucu: 0552 646 61 67
                    </li>
                </ul>

            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards yokkk-->
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    @*<script src="js/scripts.js"></script>*@
<script src="~/js/scripts.js"></script>

</body>
</html>
